In [110]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import os
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
from config import key
import psycopg2

ModuleNotFoundError: No module named 'config'

In [2]:
url = 'https://www.businessinsider.com/best-video-games-metacritic-2017-11#50-world-of-goo-2'
response = requests.get(url)
html = response.text
html[0:1000]

'<!DOCTYPE html>\n<html lang="en-US">\n\n<head>\n  <title>Top 50 Video Games of All Time, According to Metacritic</title>\n\n  <script>function createPerformanceMark(e){void 0!==window.performance&&void 0!==window.performance.mark&&performance.mark(e)}function createPerformanceMeasure(e,r,o){void 0!==window.performance&&void 0!==window.performance.measure&&performance.measure(e,r,o)}</script>  <!-- Speedcurve, LUX - Start -->\n  <script>\n  LUX=function(){var e="undefined"!=typeof LUX&&void 0!==LUX.gaMarks?LUX.gaMarks:[],n="undefined"!=typeof LUX&&void 0!==LUX.gaMeasures?LUX.gaMeasures:[],t="LUX_start",r=window.performance,a="undefined"!=typeof LUX&&LUX.ns?LUX.ns:Date.now?Date.now():+new Date;function u(){if(r){if(r.now)return r.now();if(r.webkitNow)return r.now();if(r.msNow)return r.now();if(r.mozNow)return r.now()}return(Date.now?Date.now():+new Date)-a}function o(n){return function(e,n){for(i=n.length-1;i>=0;i--){var t=n[i];if(e===t.name)return t}return}(n,function(){if(r){if(r.getEntriesByT'

In [3]:
game_soup = bs(html, 'lxml')

In [4]:
game_list = game_soup.find_all("div", {"class": "slide"})
game = game_list[0]
print(game)

<div class="slide first-slide" data-e2e-name="slide-1" data-slide="" data-slide-anchor="#one-quick-disclaimer-1" data-slide-number="1" data-slide-title="One quick disclaimer!" id="one-quick-disclaimer-1">
<div class="slide-layout clearfix">
<div class="slide-title clearfix" data-e2e-name="slide-title">
<h2 class="slide-title-text" data-toc-label="[object Object]">One quick disclaimer!</h2>
</div>
<figure class="figure image-figure-image" data-e2e-name="image-figure-image" data-media-container="image" data-type="img">
<div class="lazy-holder" style="padding-top: calc(100% * 1427 / 2048)">
<img alt="Super Mario" class="lazy-image" data-content-type="image/jpeg" data-srcs='{"https://i.insider.com/5808b9a1c524024d008b5be5":{"contentType":"image/jpeg","aspectRatioW":2048,"aspectRatioH":1427}}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"/>
<noscript>
<img src="https://i.insider.com/5808b9a1c524024d008b5be5?width=600&amp;format=jpeg&amp;auto=webp"/>
</noscript>
</div>
<span class="image-source-only">
<span class="image-source headline-regular" data-e2e-name="image-source">
                                                  Nintendo
                                                </span>
</span>
</figure>
<p>We made one small change: Since there are a handful of duplicates on the list (multiple versions of the same game, released on multiple platforms), we're using the highest-ranked version of the game to make room for a handful of games that wouldn't have otherwise made the list.</p><p><strong>Without further ado, these are the 50 best video games of all time:</strong></p>
<div class="slide-options">
</div>
</div>
</div>

In [5]:
games = game_soup.find_all("div", {"class": "slide-layout clearfix"})
game = games[1]
game

<div class="slide-layout clearfix">
<div class="slide-title clearfix" data-e2e-name="slide-title">
<h2 class="slide-title-text" data-toc-label="[object Object]">50. "World of Goo"</h2>
</div>
<figure class="figure image-figure-image" data-e2e-name="image-figure-image" data-media-container="image" data-type="img">
<div class="lazy-holder" style="padding-top: calc(100% * 1080 / 1920)">
<img alt="World of Goo" class="lazy-image" data-content-type="image/jpeg" data-srcs='{"https://i.insider.com/58c1a1de6e200443678b4987":{"contentType":"image/jpeg","aspectRatioW":16,"aspectRatioH":9}}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"/>
<noscript>
<img src="https://i.insider.com/58c1a1de6e200443678b4987?width=600&amp;format=jpeg&amp;auto=webp"/>
</noscript>
</div>
<span class="image-source-only">
<span class="image-source headline-regular" data-e2e-name="image-source">
                                                  2D Boy
                                                </span>
</span>
</figure>
<p><strong>Critic score:</strong> 94/100</p><p><strong>User score:</strong> 8.8/10</p><p><strong>Plot summary (<a data-analytics-module="body_link" href="http://www.metacritic.com/game/wii/world-of-goo">from Metacritic</a>):</strong> "'World of Goo' is a physics based puzzle / construction game. The millions of Goo Balls that live in the beautiful 'World of Goo' don't know that they are in a game, or that they are extremely delicious."</p><p><strong>Platforms:</strong> Wii, PC, OS X, Linux, iOS, Android, BlackBerry OS, Nintendo Switch</p><p><strong><a data-analytics-module="body_link" href="https://play.google.com/store/apps/details?id=com.twodboy.worldofgoofull&amp;hl=en_US">Buy it here &gt;&gt;</a></strong></p>
<div class="slide-options">
</div>
</div>

In [6]:
name = game.find("h2", {"class": "slide-title-text"}).text
name = name[4:-1]
name

'"World of Goo'

In [7]:
name = game.find("h2", {"class": "slide-title-text"}).text[3:].strip('""')
name

' "World of Goo'

In [11]:
critic = game.find("p").text.strip("Critic score:")
critic = critic[-6:3]
critic

'94'

In [22]:
critic = game.find("p").text.strip("Critic score:")[-6:-4]
critic

'99'

In [16]:
user = game.find_all("p")[1].text.strip("User score:")
user = user[-6:-3]
user

'8.8'

In [30]:
data = []

for game in games:
    name = game.find("h2", {"class": "slide-title-text"}).text[4:-1].strip('""')
    
    critic = game.find("p").text.strip("Critic score:")[-6:-4]
    user = game.find_all("p")[1].text.strip("User score:")[-6:-3]
   
    
    info = {"Name":name, "Critic Score":critic, "User Score": user}
    data.append(info)

In [31]:

for x in range(1, 51):
    print(data[x])

{'Name': 'World of Goo', 'Critic Score': '94', 'User Score': '8.8'}
{'Name': 'Metal Gear Solid V: The Phantom Pain', 'Critic Score': '95', 'User Score': '7.4'}
{'Name': 'Portal 2', 'Critic Score': '95', 'User Score': '8.4'}
{'Name': 'Persona 5 Royal', 'Critic Score': '95', 'User Score': '8.4'}
{'Name': 'Madden NFL 2003', 'Critic Score': '95', 'User Score': '7.5'}
{'Name': 'The Last of Us', 'Critic Score': '95', 'User Score': '9.2'}
{'Name': "The Legend of Zelda: Majora's Mask", 'Critic Score': '95', 'User Score': '9.2'}
{'Name': 'The Legend of Zelda: A Link to the Past', 'Critic Score': '95', 'User Score': '9.0'}
{'Name': 'Halo 2', 'Critic Score': '95', 'User Score': '8.2'}
{'Name': 'Gran Turismo 3: A-Spec', 'Critic Score': '95', 'User Score': '8.5'}
{'Name': 'Red Dead Redemption', 'Critic Score': '95', 'User Score': '8.9'}
{'Name': "The Legend of Zelda: Collector's Edition", 'Critic Score': '95', 'User Score': '9.0'}
{'Name': 'LittleBigPlanet', 'Critic Score': '95', 'User Score': '6.8'}
{'Name': 'Grand Theft Auto: Vice City', 'Critic Score': '95', 'User Score': '8.7'}
{'Name': 'Grand Theft Auto: San Andreas', 'Critic Score': '95', 'User Score': '9.0'}
{'Name': "Baldur's Gate II: Shadows of Amn", 'Critic Score': '95', 'User Score': '9.2'}
{'Name': 'Metal Gear Solid 2: Sons of Liberty', 'Critic Score': '96', 'User Score': '8.8'}
{'Name': 'Gran Turismo', 'Critic Score': '96', 'User Score': '8.6'}
{'Name': 'The Legend of Zelda: The Wind Waker', 'Critic Score': '96', 'User Score': '9.0'}
{'Name': 'Half-Life', 'Critic Score': '96', 'User Score': '9.0'}
{'Name': 'The Elder Scrolls V: Skyrim', 'Critic Score': '96', 'User Score': '8.5'}
{'Name': 'The Legend of Zelda: Twilight Princess', 'Critic Score': '96', 'User Score': '9.1'}
{'Name': 'The House in Fata Morgana - Dreams of the Revenants Edition', 'Critic Score': '96', 'User Score': '8.4'}
{'Name': 'Mass Effect 2', 'Critic Score': '96', 'User Score': '8.9'}
{'Name': 'Tekken 3', 'Critic Score': '96', 'User Score': '9.1'}
{'Name': 'Batman: Arkham City', 'Critic Score': '96', 'User Score': '8.7'}
{'Name': 'The Orange Box', 'Critic Score': '96', 'User Score': '9.2'}
{'Name': 'Resident Evil 4', 'Critic Score': '96', 'User Score': '9.4'}
{'Name': 'Uncharted 2: Among Thieves', 'Critic Score': '96', 'User Score': '8.8'}
{'Name': 'GoldenEye 007', 'Critic Score': '96', 'User Score': '9.1'}
{'Name': 'BioShock', 'Critic Score': '96', 'User Score': '8.9'}
{'Name': 'Half-Life 2', 'Critic Score': '96', 'User Score': '9.2'}
{'Name': 'NFL 2K1', 'Critic Score': '97', 'User Score': '6.3'}
{'Name': 'Elden Ring', 'Critic Score': '97', 'User Score': '7.8'}
{'Name': 'Halo: Combat Evolved', 'Critic Score': '97', 'User Score': '8.6'}
{'Name': 'Super Mario Odyssey', 'Critic Score': '97', 'User Score': '9.0'}
{'Name': 'Grand Theft Auto III', 'Critic Score': '97', 'User Score': '8.5'}
{'Name': 'Metroid Prime', 'Critic Score': '97', 'User Score': '9.3'}
{'Name': 'Perfect Dark', 'Critic Score': '97', 'User Score': '9.0'}
{'Name': "Tony Hawk's Pro Skater 3", 'Critic Score': '97', 'User Score': '7.4'}
{'Name': 'The Legend of Zelda: Breath of the Wild', 'Critic Score': '97', 'User Score': '8.4'}
{'Name': 'Disco Elysium: The Final Cut', 'Critic Score': '97', 'User Score': '8.3'}
{'Name': 'Grand Theft Auto V', 'Critic Score': '96', 'User Score': '7.8'}
{'Name': 'Red Dead Redemption 2', 'Critic Score': '97', 'User Score': '7.7'}
{'Name': 'Super Mario Galaxy 2', 'Critic Score': '97', 'User Score': '9.1'}
{'Name': 'Super Mario Galaxy', 'Critic Score': '97', 'User Score': '9.0'}
{'Name': 'SoulCalibur', 'Critic Score': '98', 'User Score': '8.6'}
{'Name': 'Grand Theft Auto IV', 'Critic Score': '98', 'User Score': '7.5'}
{'Name': "Tony Hawk's Pro Skater 2", 'Critic Score': '98', 'User Score': '7.4'}
{'Name': 'The Legend of Zelda: Ocarina of Time', 'Critic Score': '99', 'User Score': '9.2'}

In [88]:
df = pd.DataFrame(data)
df.head()

                                   Name Critic Score User Score
0                      quick disclaimer            l        ll
1                          World of Goo           94        8.8
2  Metal Gear Solid V: The Phantom Pain           95        7.4
3                              Portal 2           95        8.4
4                       Persona 5 Royal           95        8.4

In [87]:
df_clean = df.drop(labels=0, axis=0)
df_clean.head()

                                   Name Critic Score User Score
1                          World of Goo           94        8.8
2  Metal Gear Solid V: The Phantom Pain           95        7.4
3                              Portal 2           95        8.4
4                       Persona 5 Royal           95        8.4
5                       Madden NFL 2003           95        7.5

In [34]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Critic Score  50 non-null     object
 2   User Score    50 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

In [35]:
df_clean['Critic Score'] = pd.to_numeric(df_clean["Critic Score"])
df_clean['User Score'] = pd.to_numeric(df_clean["User Score"])

In [36]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Critic Score  50 non-null     int64
 2   User Score    50 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ KB

In [89]:
df_clean.head()

                                   Name Critic Score User Score
1                          World of Goo           94        8.8
2  Metal Gear Solid V: The Phantom Pain           95        7.4
3                              Portal 2           95        8.4
4                       Persona 5 Royal           95        8.4
5                       Madden NFL 2003           95        7.5

In [38]:
csv_path = "../P2/vgsales_kaggle.csv"
kaggle_df2 = pd.read_csv(csv_path, encoding="utf-8")
kaggle_df2.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [39]:
kaggle_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [41]:
merge = pd.merge(df_clean, kaggle_df2, on="Name")
merge.head(20)

,Name,Critic Score,User Score,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,World of Goo,94,8.8,14013,PC,2008.0,Puzzle,2D Boy,0.00,0.03,0.00,0.01,0.04
1,Metal Gear Solid V: The Phantom Pain,95,7.4,396,PS4,2015.0,Action,Konami Digital Entertainment,1.08,1.35,0.48,0.47,3.38
2,Metal Gear Solid V: The Phantom Pain,95,7.4,2896,XOne,2015.0,Action,Konami Digital Entertainment,0.37,0.26,0.01,0.06,0.71
3,Metal Gear Solid V: The Phantom Pain,95,7.4,2935,PS3,2015.0,Action,Konami Digital Entertainment,0.21,0.18,0.22,0.08,0.70
4,Metal Gear Solid V: The Phantom Pain,95,7.4,7376,X360,2015.0,Action,Konami Digital Entertainment,0.12,0.08,0.00,0.02,0.21
5,Metal Gear Solid V: The Phantom Pain,95,7.4,11704,PC,2015.0,Action,Konami Digital Entertainment,0.00,0.07,0.00,0.00,0.08
6,Portal 2,95,8.4,791,X360,2011.0,Shooter,Valve Software,1.41,0.51,0.01,0.17,2.10
7,Portal 2,95,8.4,1018,PS3,2011.0,Shooter,Valve,0.83,0.63,0.02,0.25,1.74
8,Portal 2,95,8.4,2701,PC,2011.0,Shooter,Valve Software,0.33,0.32,0.00,0.11,0.76
9,Madden NFL 2003,95,7.5,280,PS2,2002.0,Sports,Electronic Arts,3.36,0.21,0.01,0.56,4.14
10,Madden NFL 2003,95,7.5,2860,XB,2002.0,Sports,Electronic Arts,0.67,0.02,0.00,0.03,0.71
11,Madden NFL 2003,95,7.5,3320,GBA,2002.0,Sports,Electronic Arts,0.44,0.16,0.00,0.01,0.61
12,Madden NFL 2003,95,7.5,4552,GC,2002.0,Sports,Electronic Arts,0.33,0.09,0.00,0.01,0.43
13,The Last of Us,95,9.2,147,PS3,2013.0,Action,Sony Computer Entertainment Europe,2.41,2.28,0.28,1.01,5.99
14,The Last of Us,95,9.2,237,PS4,2014.0,Action,Sony Computer Entertainment,1.78,1.87,0.07,0.82,4.55
15,The Legend of Zelda: Majora's Mask,95,9.2,399,N64,2000.0,Action,Nintendo,1.90,0.67,0.73,0.06,3.36
16,The Legend of Zelda: A Link to the Past,95,9.0,232,SNES,1991.0,Action,Nintendo,2.42,0.91,1.15,0.13,4.61
17,The Legend of Zelda: A Link to the Past,95,9.0,552,GBA,2002.0,Action,Nintendo,1.75,0.52,0.33,0.10,2.70
18,Halo 2,95,8.2,80,XB,2004.0,Shooter,Microsoft Game Studios,6.82,1.53,0.05,0.08,8.49
19,Halo 2,95,8.2,10818,PC,2007.0,Shooter,Microsoft Game Studios,0.01,0.06,0.00,0.02,0.10

In [51]:
 merge.Platform.unique()

array(['PC', 'PS4', 'XOne', 'PS3', 'X360', 'PS2', 'XB', 'GBA', 'GC',
       'N64', 'SNES', 'PSP', 'PS', 'WiiU', 'Wii', 'DC', '3DS'],
      dtype=object)

In [106]:
platform = merge["Platform"].unique()
df_platform = pd.DataFrame(platform, columns=['Platform'])
df_platform

   Platform
0        PC
1       PS4
2      XOne
3       PS3
4      X360
5       PS2
6        XB
7       GBA
8        GC
9       N64
10     SNES
11      PSP
12       PS
13     WiiU
14      Wii
15       DC
16      3DS

In [107]:
df_platform.to_csv("platforms.csv", index=False)

In [108]:

df_platform["platform_id"] = np.arange(len(df_platform))
df_platform
#summ_table3 = pd.concat([gender_count, gender_perc], axis=1)
#summ_table3.columns = ["Total Count", "Percentage of Players"]

   Platform  platform_id
0        PC            0
1       PS4            1
2      XOne            2
3       PS3            3
4      X360            4
5       PS2            5
6        XB            6
7       GBA            7
8        GC            8
9       N64            9
10     SNES           10
11      PSP           11
12       PS           12
13     WiiU           13
14      Wii           14
15       DC           15
16      3DS           16

In [144]:
df_platform.to_csv("platforms_id.csv", index=False)

In [141]:
rds_connection_string = "postgres:group2@35.224.199.242:5432/postgres"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [142]:
engine.table_names()

<ipython-input-142-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['GameGenres',
 'GamesReleasedPlatforms',
 'videogames',
 'genre_junc',
 'platform_junc',
 'genre_id',
 'all_games',
 'platforms']

In [143]:
conn = engine.connect()

In [132]:
query = """
        Select
            *
        From
            videogames;
        """

df_pre = pd.read_sql(query, conn)
df_pre.head()

,id,name,critic_score,user_score,year,global_sales,game_id,last_update
0,1,World of Goo,94,8.8,2008.0,0.04,0,2022-03-22 19:14:19.839057
1,2,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,3.38,1,2022-03-22 19:14:19.839057
2,3,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.71,2,2022-03-22 19:14:19.839057
3,4,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.70,3,2022-03-22 19:14:19.839057
4,5,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.21,4,2022-03-22 19:14:19.839057

In [133]:
genre_df = pd.read_sql("Select * from genre_id", con=engine)
genre_df.head()

   id    genre  genre_id                last_update
0   1   Puzzle         0 2022-03-22 18:04:56.356775
1   2   Action         1 2022-03-22 18:04:56.356775
2   3  Shooter         2 2022-03-22 18:04:56.356775
3   4   Sports         3 2022-03-22 18:04:56.356775
4   5   Racing         4 2022-03-22 18:04:56.356775

In [134]:
platform_df = pd.read_sql("Select * from platforms", con=engine)
platform_df.head()

   id platform  platform_id                last_update
0   1       PC            0 2022-03-22 18:21:52.207726
1   2      PS4            1 2022-03-22 18:21:52.207726
2   3     XOne            2 2022-03-22 18:21:52.207726
3   4      PS3            3 2022-03-22 18:21:52.207726
4   5     X360            4 2022-03-22 18:21:52.207726

In [115]:
df_vg = df_pre.drop(["id", "platform", 'genre', "last_update"], axis=1)
df_vg.head()

,name,critic_score,user_score,year,global_sales,game_id
0,World of Goo,94,8.8,2008.0,0.04,0
1,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,3.38,1
2,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.71,2
3,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.70,3
4,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.21,4

In [116]:
df_vg.to_csv("Final_allgames.csv", index=False)

In [121]:
df_vg.to_sql(name='videogames', con=engine, if_exists='append', index=False, method="multi")

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Platform" of relation "platform_list" does not exist
LINE 1: INSERT INTO platform_list ("Platform", platform_id) VALUES (...
                                   ^

[SQL: INSERT INTO platform_list ("Platform", platform_id) VALUES (%(Platform_m0)s, %(platform_id_m0)s), (%(Platform_m1)s, %(platform_id_m1)s), (%(Platform_m2)s, %(platform_id_m2)s), (%(Platform_m3)s, %(platform_id_m3)s), (%(Platform_m4)s, %(platform_id_m4)s), (%(Platform_m5)s, %(platform_id_m5)s), (%(Platform_m6)s, %(platform_id_m6)s), (%(Platform_m7)s, %(platform_id_m7)s), (%(Platform_m8)s, %(platform_id_m8)s), (%(Platform_m9)s, %(platform_id_m9)s), (%(Platform_m10)s, %(platform_id_m10)s), (%(Platform_m11)s, %(platform_id_m11)s), (%(Platform_m12)s, %(platform_id_m12)s), (%(Platform_m13)s, %(platform_id_m13)s), (%(Platform_m14)s, %(platform_id_m14)s), (%(Platform_m15)s, %(platform_id_m15)s), (%(Platform_m16)s, %(platform_id_m16)s)]
[parameters: {'Platform_m0': 'PC', 'platform_id_m0': 0, 'Platform_m1': 'PS4', 'platform_id_m1': 1, 'Platform_m2': 'XOne', 'platform_id_m2': 2, 'Platform_m3': 'PS3', 'platform_id_m3': 3, 'Platform_m4': 'X360', 'platform_id_m4': 4, 'Platform_m5': 'PS2', 'platform_id_m5': 5, 'Platform_m6': 'XB', 'platform_id_m6': 6, 'Platform_m7': 'GBA', 'platform_id_m7': 7, 'Platform_m8': 'GC', 'platform_id_m8': 8, 'Platform_m9': 'N64', 'platform_id_m9': 9, 'Platform_m10': 'SNES', 'platform_id_m10': 10, 'Platform_m11': 'PSP', 'platform_id_m11': 11, 'Platform_m12': 'PS', 'platform_id_m12': 12, 'Platform_m13': 'WiiU', 'platform_id_m13': 13, 'Platform_m14': 'Wii', 'platform_id_m14': 14, 'Platform_m15': 'DC', 'platform_id_m15': 15, 'Platform_m16': '3DS', 'platform_id_m16': 16}]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [118]:
df_vg2 = pd.read_sql("Select * from videogame", con=engine)
df_vg2.head()

,id,name,critic_score,user_score,year,global_sales,game_id,last_update
0,1.0,World of Goo,94,8.8,2008.0,0.04,0,2022-03-22 19:14:19.839057
1,2.0,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,3.38,1,2022-03-22 19:14:19.839057
2,3.0,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.71,2,2022-03-22 19:14:19.839057
3,4.0,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.70,3,2022-03-22 19:14:19.839057
4,5.0,Metal Gear Solid V: The Phantom Pain,95,7.4,2015.0,0.21,4,2022-03-22 19:14:19.839057

In [96]:
genre = merge["Genre"].unique()
df_genre = pd.DataFrame(genre, columns=['genre'])

df_genre
df_genre['genre_id'] = np.arange(len(df_genre))
df_genre

          genre  genre_id
0        Puzzle         0
1        Action         1
2       Shooter         2
3        Sports         3
4        Racing         4
5      Platform         5
6  Role-Playing         6
7      Fighting         7

In [97]:
df_genre.to_csv("genres.csv", index=False)

In [ ]:
df_genre.to_sql(name='genre', con=engine, if_exists='append', index=False, method="multi")

In [62]:
merge.columns

Index(['Name', 'Critic Score', 'User Score', 'Rank', 'Platform', 'Year',
       'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales',
       'Global_Sales'],
      dtype='object')

In [63]:
df_main = merge.drop(['Rank', 'Platform', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], axis=1)
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          93 non-null     object
 1   Critic Score  93 non-null     int64
 2   User Score    93 non-null     float64
 3   Year          93 non-null     float64
 4   Global_Sales  93 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 4.4+ KB

In [98]:
df_all = merge.drop(['Rank', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], axis=1)
df_all['game_id'] = np.arange(len(df_all))
df_all.head()

,Name,Critic Score,User Score,Platform,Year,Genre,Global_Sales,game_id
0,World of Goo,94,8.8,PC,2008.0,Puzzle,0.04,0
1,Metal Gear Solid V: The Phantom Pain,95,7.4,PS4,2015.0,Action,3.38,1
2,Metal Gear Solid V: The Phantom Pain,95,7.4,XOne,2015.0,Action,0.71,2
3,Metal Gear Solid V: The Phantom Pain,95,7.4,PS3,2015.0,Action,0.70,3
4,Metal Gear Solid V: The Phantom Pain,95,7.4,X360,2015.0,Action,0.21,4

In [102]:
df_all.columns

Index(['name', 'critic_score', 'user_score', 'platform', 'year', 'genre',
       'global_sales', 'game_id'],
      dtype='object')

In [101]:
df_all.rename(columns = {'Name':'name', 'Critic Score':'critic_score', 'User Score':'user_score',
                         'Platform':'platform', 'Year':'year', 'Genre':'genre','Global_Sales':"global_sales"}, inplace=True)

In [103]:
df_all.to_csv("all_games.csv", index=False)