In [222]:
import pandas as pd
import numpy as np

In [226]:
# Reading in csv to pandas
vg_sales_df = pd.read_csv(r"C:\Users\malac\SMU\smu_project_2_group_2\Malachai Work\vg_sales_wiki.csv")

# Showing first 5
vg_sales_df

,title,release_date,genre,platform,units_sold
0,Minecraft,2009,Sandbox,"PC, Xbox 360 PlayStation 3, Various",238.000
1,Grand Theft Auto V,2013,Action Adventure,"PC, PlayStation 3, PlayStation 4, Xbox 360, Xb...",135.000
2,Wii Sports,2006,Sports,Wii,82.900
3,Super Mario Bros.,1985,Platformer,"NES, Various",63.330
4,Pokémon Red/Green/Blue/Yellow,1996,RPG,"Game Boy, Game Boy Advance, Virtual Console",59.520
5,PlayerUnknown's Battlegrounds,2017,Battle Royale,"PC, PlayStation 4, Xbox One",70.000
6,Sonic the Hedgehog,1991,Platformer,"Mega Drive, Master System, Various",44.146
7,Wii Fit,2007,Fitness,Wii,43.800
8,Pokémon Gold/Silver/Crystal,1999,RPG,"Game Boy Color, Nintendo DS",42.210
9,Super Mario Bros. 3,1988,Platformer,"NES, Various",39.520
10,Super Mario Bros. 2,1986,Platformer,"FDS, NES, Various",38.390
11,Mario Kart Wii,2008,Racing,Wii,37.100
12,Pokémon Ruby/Sapphire/Emerald,2002,RPG,"GBA, 3DS",36.600
13,Super Mario World,1990,Platformer,"Super NES, Various",34.183
14,Wii Sports Resort,2009,Sports,Wii,33.080
15,New Super Mario Bros.,2006,Platformer,Nintendo DS,30.800
16,New Super Mario Bros. Wii,2009,Platformer,Wii,30.200
17,Duck Hunt,1984,Lightgun Shooter,NES,28.310
18,Wii Play,2006,Party,Wii,28.020
19,Grand Theft Auto: San Andreas,2004,Action Adventure,"PC, PlayStation 2, PlayStation 3 (PSN), Xbox, ...",27.500
20,Call of Duty: Modern Warfare 3,2011,FPS,"PC, Xbox 360, PlayStation 3, Wii",26.500
21,Pokémon Diamond/Pearl/Platinum,2006,RPG,Nintendo DS,25.270
22,Grand Theft Auto IV,2008,Action Adventure,"PC, PlayStation 3, Xbox 360",25.000
23,Call of Duty: Black Ops,2010,FPS,"PC, PlayStation 3, Xbox 360, Wii, Nintendo DS",25.000
24,Kinect Adventures,2010,Sports,Xbox 360,24.000
25,Call of Duty: Black Ops II,2012,FPS,"PC, PlayStation 3, Xbox 360",24.000
26,FIFA 18,2017,Sports,"PC, PlayStation 3, PlayStation 4, Xbox 360, Xb...",24.000
27,Nintendogs,2005,Sim,Nintendo DS,23.960
28,Pokémon Sun and Moon,2016,RPG,Nintendo 3DS,23.610
29,Mario Kart DS,2005,Racing,Nintendo DS,23.600
30,Super Mario 64,1996,Platformer,"N64, Nintendo DS",23.240
31,Call of Duty: Modern Warfare 2,2009,FPS,"PC, Xbox 360, PlayStation 3",22.000
32,Street Fighter II,1991,Fighting,"Super NES, Mega Drive, Various",20.780
33,Call of Duty: WWII,2017,FPS,"PC, PlayStation 4, Xbox One",20.620
34,Mario Kart 8,2014,Racing,"Wii U, Switch",20.160
35,Frogger,1981,Action,"Arcade, Various",20.000
36,Terraria,2011,Platformer,"PC, Various",20.000
37,The Sims 2,2004,Sim,"PC, Various",20.000
38,The Elder Scrolls V: Skyrim,2011,Action RPG,"PC, Xbox 360, PlayStation 3",20.000
39,Brain Age,2005,Puzzle,Nintendo DS,19.010
40,Call of Duty: Ghosts,2013,FPS,"PC, Xbox 360, Xbox One, PlayStation 3, PlaySta...",19.000
41,Super Mario Land,1989,Platformer,"Game Boy, Game Boy Color",18.371
42,Grand Theft Auto: Vice City,2002,Action Adventure,"PC, Playstation 2, Xbox",17.500
43,Gran Turismo 3: A-Spec,2001,Racing Sim,Playstation 2,16.450
44,Pokémon X and Y,2013,RPG,Nintendo 3DS,16.290
45,Gran Turismo 5,2010,Racing Sim,Playstation 3,16.010
46,The Sims,2000,Life Sim,"PC, Mac OS",16.000
47,Call of Duty 4: Modern Warfare,2007,FPS,"PC, Xbox 360, Mac OS X, PlayStation 3, Wii",15.700
48,Call of Duty: World at War,2008,FPS,"PC, Xbox 360, PlayStation 3, Wii",15.700
49,Pokémon Black and White,2010,RPG,Nintendo DS,15.640
50,Diablo III,2012,RPG,"PC, Mac OS X, Xbox 360, PlayStation 3",15.000

In [227]:
# Reading in csv to pandas
vg_chartz_df = pd.read_csv(r"C:\Users\malac\SMU\smu_project_2_group_2\Malachai Work\vgchartz.csv")

# Showing first 5
vg_chartz_df

,Rank,title,platform,release_date,genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [228]:
vgc_genre_df = vg_chartz_df[["genre"]]
vgc_genre_df

              genre
0            Sports
1          Platform
2            Racing
3            Sports
4      Role-Playing
...             ...
16593      Platform
16594       Shooter
16595        Racing
16596        Puzzle
16597      Platform

[16598 rows x 1 columns]

In [229]:
vgc_genre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genre   16598 non-null  object
dtypes: object(1)
memory usage: 129.8+ KB

In [230]:
vgs_genre_df = vg_sales_df[["genre"]]
vgs_genre_df

               genre
0            Sandbox
1   Action Adventure
2             Sports
3         Platformer
4                RPG
5      Battle Royale
6         Platformer
7            Fitness
8                RPG
9         Platformer
10        Platformer
11            Racing
12               RPG
13        Platformer
14            Sports
15        Platformer
16        Platformer
17  Lightgun Shooter
18             Party
19  Action Adventure
20               FPS
21               RPG
22  Action Adventure
23               FPS
24            Sports
25               FPS
26            Sports
27               Sim
28               RPG
29            Racing
30        Platformer
31               FPS
32          Fighting
33               FPS
34            Racing
35            Action
36        Platformer
37               Sim
38        Action RPG
39            Puzzle
40               FPS
41        Platformer
42  Action Adventure
43        Racing Sim
44               RPG
45        Racing Sim
46          Life Sim
47               FPS
48               FPS
49               RPG
50               RPG

In [231]:
vgs_genre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genre   51 non-null     object
dtypes: object(1)
memory usage: 536.0+ bytes

In [232]:
gender_all_df = pd.concat([vgs_genre_df, vgc_genre_df], ignore_index=True)
gender_all_df

                  genre
0               Sandbox
1      Action Adventure
2                Sports
3            Platformer
4                   RPG
...                 ...
16644          Platform
16645           Shooter
16646            Racing
16647            Puzzle
16648          Platform

[16649 rows x 1 columns]

In [233]:
gender_list = gender_all_df.genre.unique()
gender_list

array(['Sandbox', 'Action Adventure', 'Sports', 'Platformer', 'RPG',
       'Battle Royale', 'Fitness', 'Racing', 'Lightgun Shooter', 'Party',
       'FPS', 'Sim', 'Fighting', 'Action', 'Action RPG', 'Puzzle',
       'Racing Sim', 'Life Sim', 'Platform', 'Role-Playing', 'Misc',
       'Shooter', 'Simulation', 'Adventure', 'Strategy'], dtype=object)

In [234]:
gender_csv = pd.DataFrame(gender_list)
gender_csv.to_csv(r'C:\Users\malac\SMU\Project 2\genre.csv', index=False)
gender_csv

                   0
0            Sandbox
1   Action Adventure
2             Sports
3         Platformer
4                RPG
5      Battle Royale
6            Fitness
7             Racing
8   Lightgun Shooter
9              Party
10               FPS
11               Sim
12          Fighting
13            Action
14        Action RPG
15            Puzzle
16        Racing Sim
17          Life Sim
18          Platform
19      Role-Playing
20              Misc
21           Shooter
22        Simulation
23         Adventure
24          Strategy

In [235]:
vgs_title_df = vg_sales_df[["title", "release_date"]]
vgs_title_df

                             title  release_date
0                        Minecraft          2009
1               Grand Theft Auto V          2013
2                       Wii Sports          2006
3                Super Mario Bros.          1985
4    Pokémon Red/Green/Blue/Yellow          1996
5    PlayerUnknown's Battlegrounds          2017
6               Sonic the Hedgehog          1991
7                          Wii Fit          2007
8      Pokémon Gold/Silver/Crystal          1999
9              Super Mario Bros. 3          1988
10             Super Mario Bros. 2          1986
11                  Mario Kart Wii          2008
12   Pokémon Ruby/Sapphire/Emerald          2002
13               Super Mario World          1990
14               Wii Sports Resort          2009
15           New Super Mario Bros.          2006
16       New Super Mario Bros. Wii          2009
17                       Duck Hunt          1984
18                        Wii Play          2006
19   Grand Theft Auto: San Andreas          2004
20  Call of Duty: Modern Warfare 3          2011
21  Pokémon Diamond/Pearl/Platinum          2006
22             Grand Theft Auto IV          2008
23         Call of Duty: Black Ops          2010
24               Kinect Adventures          2010
25      Call of Duty: Black Ops II          2012
26                         FIFA 18          2017
27                      Nintendogs          2005
28            Pokémon Sun and Moon          2016
29                   Mario Kart DS          2005
30                  Super Mario 64          1996
31  Call of Duty: Modern Warfare 2          2009
32               Street Fighter II          1991
33              Call of Duty: WWII          2017
34                    Mario Kart 8          2014
35                         Frogger          1981
36                        Terraria          2011
37                      The Sims 2          2004
38     The Elder Scrolls V: Skyrim          2011
39                       Brain Age          2005
40            Call of Duty: Ghosts          2013
41                Super Mario Land          1989
42     Grand Theft Auto: Vice City          2002
43          Gran Turismo 3: A-Spec          2001
44                 Pokémon X and Y          2013
45                  Gran Turismo 5          2010
46                        The Sims          2000
47  Call of Duty 4: Modern Warfare          2007
48      Call of Duty: World at War          2008
49         Pokémon Black and White          2010
50                      Diablo III          2012

In [236]:
vgc_title_df = vg_chartz_df[["title", "release_date"]]
vgc_title_df

                                                  title  release_date
0                                            Wii Sports        2006.0
1                                     Super Mario Bros.        1985.0
2                                        Mario Kart Wii        2008.0
3                                     Wii Sports Resort        2009.0
4                              Pokemon Red/Pokemon Blue        1996.0
...                                                 ...           ...
16593                Woody Woodpecker in Crazy Castle 5        2002.0
16594                     Men in Black II: Alien Escape        2003.0
16595  SCORE International Baja 1000: The Official Game        2008.0
16596                                        Know How 2        2010.0
16597                                  Spirits & Spells        2003.0

[16598 rows x 2 columns]

In [237]:
title_all_df = pd.concat([vgs_title_df, vgc_title_df], ignore_index=True)
title_all_df

                                                  title  release_date
0                                             Minecraft        2009.0
1                                    Grand Theft Auto V        2013.0
2                                            Wii Sports        2006.0
3                                     Super Mario Bros.        1985.0
4                         Pokémon Red/Green/Blue/Yellow        1996.0
...                                                 ...           ...
16644                Woody Woodpecker in Crazy Castle 5        2002.0
16645                     Men in Black II: Alien Escape        2003.0
16646  SCORE International Baja 1000: The Official Game        2008.0
16647                                        Know How 2        2010.0
16648                                  Spirits & Spells        2003.0

[16649 rows x 2 columns]

In [238]:
title_all_df.rename(columns = {'title':'name','release_date':'year'}, inplace = True)
title_all_df

                                                   name    year
0                                             Minecraft  2009.0
1                                    Grand Theft Auto V  2013.0
2                                            Wii Sports  2006.0
3                                     Super Mario Bros.  1985.0
4                         Pokémon Red/Green/Blue/Yellow  1996.0
...                                                 ...     ...
16644                Woody Woodpecker in Crazy Castle 5  2002.0
16645                     Men in Black II: Alien Escape  2003.0
16646  SCORE International Baja 1000: The Official Game  2008.0
16647                                        Know How 2  2010.0
16648                                  Spirits & Spells  2003.0

[16649 rows x 2 columns]

In [239]:
title_all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16649 entries, 0 to 16648
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    16649 non-null  object
 1   year    16378 non-null  float64
dtypes: float64(1), object(1)
memory usage: 260.3+ KB

In [240]:
title_all_df[title_all_df["name"].duplicated()]

                                                   name    year
51                                           Wii Sports  2006.0
52                                    Super Mario Bros.  1985.0
53                                       Mario Kart Wii  2008.0
54                                    Wii Sports Resort  2009.0
57                                New Super Mario Bros.  2006.0
...                                                 ...     ...
16637                    Secret Files 2: Puritas Cordis  2009.0
16642                               Myst IV: Revelation  2004.0
16645                     Men in Black II: Alien Escape  2003.0
16646  SCORE International Baja 1000: The Official Game  2008.0
16648                                  Spirits & Spells  2003.0

[5143 rows x 2 columns]

In [241]:
title_all_df = title_all_df.sort_values('name')
title_all_df

                                          name    year
4805                               '98 Koshien  1998.0
8408                .hack//G.U. Vol.1//Rebirth  2006.0
7158              .hack//G.U. Vol.2//Reminisce  2006.0
8653   .hack//G.U. Vol.2//Reminisce (jp sales)  2006.0
8355             .hack//G.U. Vol.3//Redemption  2007.0
...                                        ...     ...
678                               uDraw Studio  2010.0
15574             uDraw Studio: Instant Artist  2011.0
7886              uDraw Studio: Instant Artist  2011.0
521                 wwe Smackdown vs. Raw 2006     NaN
9186              ¡Shin Chan Flipa en colores!  2007.0

[16649 rows x 2 columns]

In [242]:
title_all_df= title_all_df.drop_duplicates('name')
title_all_df

                                          name    year
4805                               '98 Koshien  1998.0
8408                .hack//G.U. Vol.1//Rebirth  2006.0
7158              .hack//G.U. Vol.2//Reminisce  2006.0
8653   .hack//G.U. Vol.2//Reminisce (jp sales)  2006.0
8355             .hack//G.U. Vol.3//Redemption  2007.0
...                                        ...     ...
16465               thinkSMART: Chess for Kids  2011.0
678                               uDraw Studio  2010.0
15574             uDraw Studio: Instant Artist  2011.0
521                 wwe Smackdown vs. Raw 2006     NaN
9186              ¡Shin Chan Flipa en colores!  2007.0

[11506 rows x 2 columns]

In [243]:
title_all_df = title_all_df.dropna()
title_all_df

                                          name    year
4805                               '98 Koshien  1998.0
8408                .hack//G.U. Vol.1//Rebirth  2006.0
7158              .hack//G.U. Vol.2//Reminisce  2006.0
8653   .hack//G.U. Vol.2//Reminisce (jp sales)  2006.0
8355             .hack//G.U. Vol.3//Redemption  2007.0
...                                        ...     ...
14435                       thinkSMART FAMILY!  2010.0
16465               thinkSMART: Chess for Kids  2011.0
678                               uDraw Studio  2010.0
15574             uDraw Studio: Instant Artist  2011.0
9186              ¡Shin Chan Flipa en colores!  2007.0

[11335 rows x 2 columns]

In [244]:
title_all_df.to_csv(r'C:\Users\malac\SMU\Project 2\videogame.csv', index=False)
title_all_df

                                          name    year
4805                               '98 Koshien  1998.0
8408                .hack//G.U. Vol.1//Rebirth  2006.0
7158              .hack//G.U. Vol.2//Reminisce  2006.0
8653   .hack//G.U. Vol.2//Reminisce (jp sales)  2006.0
8355             .hack//G.U. Vol.3//Redemption  2007.0
...                                        ...     ...
14435                       thinkSMART FAMILY!  2010.0
16465               thinkSMART: Chess for Kids  2011.0
678                               uDraw Studio  2010.0
15574             uDraw Studio: Instant Artist  2011.0
9186              ¡Shin Chan Flipa en colores!  2007.0

[11335 rows x 2 columns]

In [131]:
vgc_platform_df = vg_chartz_df[["platform"]]
vgc_platform_df

      platform
0          Wii
1          NES
2          Wii
3          Wii
4           GB
...        ...
16593      GBA
16594       GC
16595      PS2
16596       DS
16597      GBA

[16598 rows x 1 columns]

In [250]:
vgc_platform_df = vgc_platform_df.drop_duplicates()
vgc_platform_df

      platform
0          Wii
1          NES
4           GB
6           DS
15        X360
16         PS3
17         PS2
18        SNES
25         GBA
32         3DS
33         PS4
46         N64
52          PS
79          XB
83          PC
89        2600
90         PSP
101       XOne
107         GC
108       WiiU
143        GEN
637         DC
713        PSV
888        SAT
1261       SCD
3931        WS
6681        NG
9223      TG16
12635      3DO
13525       GG
14556     PCFX

In [255]:
platform_csv = vgc_platform_df.reset_index(drop=True)
platform_csv

   platform
0       Wii
1       NES
2        GB
3        DS
4      X360
5       PS3
6       PS2
7      SNES
8       GBA
9       3DS
10      PS4
11      N64
12       PS
13       XB
14       PC
15     2600
16      PSP
17     XOne
18       GC
19     WiiU
20      GEN
21       DC
22      PSV
23      SAT
24      SCD
25       WS
26       NG
27     TG16
28      3DO
29       GG
30     PCFX

In [256]:
platform_csv.to_csv(r'C:\Users\malac\SMU\Project 2\platform.csv', index=False)
platform_csv

   platform
0       Wii
1       NES
2        GB
3        DS
4      X360
5       PS3
6       PS2
7      SNES
8       GBA
9       3DS
10      PS4
11      N64
12       PS
13       XB
14       PC
15     2600
16      PSP
17     XOne
18       GC
19     WiiU
20      GEN
21       DC
22      PSV
23      SAT
24      SCD
25       WS
26       NG
27     TG16
28      3DO
29       GG
30     PCFX